aclocal.m4
autom4te.cache
*.log
*.status
configure
Makefile
scripts
config.h
stamp-h1
*.layout
.bin
.obj
.pot
dbus-glue.h
*.rc
*.cache
*.zip
*.bak
*.[0-9]
vgcore.*
*.nsi
*.exe
doxyfile
doxygen/html
doxygen/rtf
*~
*.pc
*.obj
*.dll
*.exe
*.exp
*.lib
metainfo.xml
*.pot
ABOUT-NLS
intl
m4
po

